*.vsconfig
*.csproj
*.sln
QuadTree/Library/
QuadTree/Logs/
QuadTree/UserSettings/EditorUserSettings.asset
QuadTree/UserSettings/Layouts/default-2022.dwlt
QuadTree/obj/Debug/
QuadTree/Temp/
QuadTree/UserSettings/Search.index
QuadTree/UserSettings/Search.settings
